sample.log
sample1
.hello.xml.swp
.hello_LOCAL_245.xml.swp
.hello_REMOTE_245.xml.swp
hello_BACKUP_245.xml
hello_BASE_245.xml
hello_LOCAL_245.xml
hello_REMOTE_245.xml
.demo1.xml.swp
.demo1_LOCAL_198.xml.swp
.demo1_REMOTE_198.xml.swp
demo1_BACKUP_198.xml
demo1_BASE_198.xml
demo1_LOCAL_198.xml
demo1_REMOTE_198.xml